/**************************************** FONT SIZE ************************************/

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-36 {
    font-size: 36px;
}

.fs-42 {
    font-size: 42px;
}



/**************************************** COLORS ************************************/

.txt-1 {
    color: #FF9292;
}

.txt-2 {
    color: #FFB4B4;
}

.txt-3 {
    color: #FFDCDC;
}

.txt-4 {
    color: #FFDCDC;
}

body {
    background-color: rgb(153, 150, 150);
}

/***************************************************************************************************/

.center {
    text-align: center;
}

.list-center {
    display: inline-block;
}

.list-center li {
    margin-bottom: 40px;
}

.menu-ul {
    justify-content: space-around;
    display: flex;
    list-style: none;
    padding: 0;
}

.product-image {
    height: 500px;
}

.product-image img {
    height: 100%;
    object-fit: cover;
}

.h4-margin {
    width: 1600px;
    margin: 0 auto;
}